@tailwind base;
@tailwind components;
@tailwind utilities;

.leftlet-bottom,
.leftlet-control,
.leftlet-pane,
.leftlet-top{
    z-index: 0 !important;
}

.react-select-2-listbox{
    z-index: 10000 !important;
    background-color: blue !important;
}